<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap 实例 - 标签式的导航菜单</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../js/jquery-1.11.3.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../js/bootstrap.min.js"></script>
    <style>
        .queryresult{
            margin: 5px;
            border: 1px solid #e4e6e7 ;
        }
    </style>
</head>
<body>

<p>垂直的胶囊式导航菜单</p>
<div class="queryresult">
    <div>
        1
    </div>
    <a style="cursor: pointer;">192.0,27.0</a>
</div>

</body>
</html>